/* CSS Document */
.nav.navbar-nav .navbar-brand {
	background-image: url(img/rouge.png);
	background-repeat:no-repeat;
	background-position:left;
	margin-left:0;
	margin-right:10px;
}
.nav.navbar-nav .navbar-brand a {
	text-align:center;
	}
.nav.navbar-nav a:hover {
	background-image: url(img/mark1.png);
	background-repeat:no-repeat;
	background-position:center;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12 #carousel1 .carousel-inner {
	margin-top: 100px;
}
